body {
    background-color: lightgrey;
}

.navbar-custom {
    background-color: #32528d;
    border-color: #E7E7E7;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
    height: 5vh;
}

.splash {
    background-color: lightgrey;
    padding-top: 1vh;
    padding-bottom: 5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    align-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    height: 90vh;
}

.splash h1 {
    color: #404040;
    font-weight: bold;
    font-size: calc(50px + 5vmin);
}

.splash h2 {
    padding: 2vh;
    font-size: 28px;
    color: #585858;
    font-weight: normal;
}

.floating-box {
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    max-height: calc(100% - 4vh);
    margin-right: 0.25vw;
    margin-left: 0.25vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    align-content: center;
    align-items: center;
}

footer {
    background-color: black;
    color: lightgrey;
    padding-top: 0.75vh;
    padding-bottom: 0.25vh;
    text-align: center;
    align-content: center;
    align-items: center;
    height: 3.5vh;
}

.footer-link {
    color: #acacac;
    font-size: 16px;
    text-decoration: underline;
}

.footer-link:hover {
    color: #d1d1d1;
}

footer h6 {
    font-size: 16px;
    color: #acacac;
    padding-bottom: 0vh;
}

.graph-in-box {
    align-self: center;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 80%;
}